.orange-bg{

        background-color: #FEEAE9;

}

.carousel{
  padding: 30px;
}

.buy-now-button {
  background-color: #fb249e;
  color: white;
  border: none;
  border-radius: 5px;
}
.price{
  color: #fb249e;
}
.container{
  margin-bottom: 100px;
}

.cat1, .cat2 , .cat3{
  padding:10px 30px;
  border-radius: 20px;
  
   
}
 .categories img{
  width: 100px;
 }
.cat1{
  background-color: orange;
}
.cat2{
  background-color: blue;
}
.cat3{
  background-color: #fb249e;
}

.categories h1{
  color:white;
}
.Subscribe{
  background-color: #FEEAE9;

   height: 300px;

   
}
.submit{
  background-color: #fb249e;
  border: none;
  color:white;
}

footer{
  text-align: center;
}

#Subscribe h6{
  color: gray;
}
